<!DOCTYPE html>
{? langType == 'korean'}
<html lang="ko">
{: langType == 'english'}
<html lang="en">
{/}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{layoutCommon.templetSrc}/images/favicon.ico">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{layoutCommon.templetSrc}/css/common/common.css?version={c.CLIENT_VERSION}">
    <link rel="stylesheet" type="text/css" href="{layoutCommon.templetSrc}/css/common/reset.css?version={c.CLIENT_VERSION}">
    <!--{? is_file( c.DOCUMENT_ROOT + '' + layout.GroupCssSrc ) }-->
    <link rel="stylesheet" type="text/css" href="{layout.GroupCssSrc}?version={c.CLIENT_VERSION}">
    <!--{/}-->
    <!-- js library -->
    <script>var forbizCsrf = { name:"{layout.ForbizCsrfName}", hash:"{layout.ForbizCsrfHash}", isLogin:{=json_encode(layoutCommon.isLogin)}};</script>
    <link rel="stylesheet" type="text/css" href="/assets/templet/enterprise/assets/css/main.css?version=1.0">
    <script src="/assets/templet/enterprise/assets/js/vendor.js?version=1.0"></script>
    <script src="/assets/templet/enterprise/assets/js/main.js?version=1.0"></script>
    <!--<script src="{layoutCommon.templetSrc}/js/common/library.js?version={c.CLIENT_VERSION}"></script>-->

    <!--{? is_file( c.DOCUMENT_ROOT + '' + layout.LanguageJsSrc)}-->
    <!-- 언어 -->
    <script src="{layout.LanguageJsSrc}?version={c.CLIENT_VERSION}"></script>
    <!--{/}-->
    <script src="{layoutCommon.templetSrc}/js/common/ui_common.js?version={c.CLIENT_VERSION}"></script><!-- 퍼블공통 -->
    <script src="{layoutCommon.templetSrc}/js/common/dev_common.js?version={c.CLIENT_VERSION}"></script><!-- 개발공통 -->
    <script>
        //set environment
        common.environment = "{c.ENVIRONMENT}";
        common.langType = "{c.BASIC_LANGUAGE}";
        common.kakaoScriptKey = "{c.KAKAO_SCRIPT_KEY}";
    </script>

    <!--웹폰트cdn 이후 다운로드 받아서 처리 하는 방식으로 수정 예정-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto" rel="stylesheet">
    <!-- 몰 관련 태그 -->
    <title>{layoutCommon.title_desc}</title>
    <meta name="description" content="{title_desc}">
    <meta name="keywords" content="{keyword_desc}">
</head>
<body id="{layoutCommon.bodyId}"  class="fb fb__popup">
<div>
    {#contents}
</div>

<!--{? is_file( c.DOCUMENT_ROOT + '' + layout.GroupJsSrc ) }-->
<!-- 퍼블&개발 공통:폴더별 -->
<script src="{layout.GroupJsSrc}?version={c.CLIENT_VERSION}"></script>
<!--{/}-->
<!--{? is_file( c.DOCUMENT_ROOT + '' + layout.PageJsSrc ) }-->
<!-- 퍼블&개발 공통:각 페이지 별 -->
<script src="{layout.PageJsSrc}?version={c.CLIENT_VERSION}"></script>
<!--{/}-->
<!--{? c.DB_CONNECTION_DIV == 'development' }-->
<script>
    //load 된 언어 서버요청
    common.lang.jsLanguageCollection();
</script>
<!--{/}-->
</body>
</html>