<!-- 좌측 슬라이드 메뉴 S -->
<nav id="navigation" class="br__navi">
	<section class="br__drawer">
		<h2 class="hidden">drawer menu</h2>
		<section class="br__drawer__search">
			<div class="br__search-inner">
				<div class="br__search__title">
					<div class="wrap_search-bar">
						<label for="devHeaderSearchText" class="hide">검색어 입력 영역</label>
						<input class="search-input br__form-input" type="text" id="devHeaderSearchText" placeholder="검색어를 입력하세요." />
						<button class="search-btn" id="devHeaderSearchButton">
							<i class="ico ico-search"></i>
						</button>
					</div>
					<div class="wrap_search-close">
						<button class="search-close" title="닫기" onclick="SideLayerJS('navigation');">닫기</button>
					</div>
				</div>
				<!-- 검색 자동완성 S -->
				<div class="br__search__layer">
					<div class="auto-complete">
						<ul class="auto-complete__list">
							<li>
								<a href="#"><em>래</em>쉬가드</a>
							</li>
							<li>
								<a href="#">오션 <em>래</em>쉬가드</a>
							</li>
							<li>
								<a href="#">남자 <em>래</em>쉬가드</a>
							</li>
							<li>
								<a href="#">여자 <em>래</em>쉬가드</a>
							</li>
							<li>
								<a href="#">키즈 <em>래</em>쉬가드</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- 검색 자동완성 E -->
			</div>
		</section>
		<div class="br__drawer__scroll">
			<section class="br__drawer__goods">
				<div class="br__drawer__cate">
					<!-- 대분류 S -->
					<div class="cate-box cate-box--depth1 cate-box--active">
						<ul class="cate-box__wrapper">
							<li class="cate-box__list">
								<!-- 서브(중/소분류)메뉴가 있을 경우 button / 없을 경우 a 태그-->
								<button type="button" class="cate-box__list__category">2023 신제품</button>
							</li>
							<li class="cate-box__list">
								<!-- 서브(중/소분류)메뉴가 있을 경우 button / 없을 경우 a 태그-->
								<button type="button" class="cate-box__list__category">우먼</button>
							</li>
							<li class="cate-box__list">
								<!-- 서브(중/소분류)메뉴가 있을 경우 button / 없을 경우 a 태그-->
								<button type="button" class="cate-box__list__category">맨</button>
							</li>
							<li class="cate-box__list">
								<!-- 서브(중/소분류)메뉴가 있을 경우 button / 없을 경우 a 태그-->
								<button type="button" class="cate-box__list__category">키즈</button>
							</li>
							<li class="cate-box__list">
								<!-- 서브(중/소분류)메뉴가 있을 경우 button / 없을 경우 a 태그-->
								<button type="button" class="cate-box__list__category">슈즈</button>
							</li>
							<li class="cate-box__list">
								<!-- 서브(중/소분류)메뉴가 있을 경우 button / 없을 경우 a 태그-->
								<button type="button" class="cate-box__list__category">액세서리</button>
							</li>
							<li class="cate-box__list">
								<!-- 서브(중/소분류)메뉴가 있을 경우 button / 없을 경우 a 태그-->
								<a href="#;" class="cate-box__list__category">SALE</a>
							</li>
							<li class="cate-box__list">
								<!-- 서브(중/소분류)메뉴가 있을 경우 button / 없을 경우 a 태그-->
								<a href="#;" class="cate-box__list__category">배럴 인사이드</a>
							</li>
							<li class="cate-box__list">
								<!-- 서브(중/소분류)메뉴가 있을 경우 button / 없을 경우 a 태그-->
								<a href="#;" class="cate-box__list__category">이벤트</a>
							</li>
						</ul>
					</div>
					<!-- 대분류 E -->

					<!-- 중/소분류 S -->
					<div class="cate-box cate-box--depth2">
						<div class="cate-box__navi">
							<button type="button" class="cate-box__navi__back">이전</button>
						</div>
						<div class="cate-box__title">
							<div class="title-md">우먼</div>
						</div>
						<ul class="cate-box__wrapper">
							<li class="cate-box__list">
								<a href="#;" class="cate-box__list__category">전체</a>
							</li>
							<li class="cate-box__list">
								<button type="button" class="cate-box__list__category">워터스포츠</button>
								<div class="cate-box cate-box--depth3">
									<ul class="cate-box__wrapper">
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">래쉬가드</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">브라탑</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">쇼츠 / 레깅스</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">네오프린</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">비키니</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">이너웨어</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="cate-box__list">
								<button type="button" class="cate-box__list__category">실내수영</button>
								<div class="cate-box cate-box--depth3">
									<ul class="cate-box__wrapper">
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">래쉬가드</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">브라탑</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">쇼츠 / 레깅스</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">네오프린</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">비키니</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">이너웨어</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="cate-box__list">
								<button type="button" class="cate-box__list__category">라이프스타일</button>
								<div class="cate-box cate-box--depth3">
									<ul class="cate-box__wrapper">
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">래쉬가드</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">브라탑</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">쇼츠 / 레깅스</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">네오프린</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">비키니</a>
										</li>
										<li class="cate-box__list">
											<a href="#;" class="cate-box__list__category">이너웨어</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<!-- 중/소분류 E -->
				</div>
			</section>
			<section class="br__drawer__cscenter">
				<div class="cscenter-box">
					<div class="cscenter-box__item">
						<a href="#;">매장안내</a>
						<a href="#;">고객센터</a>
					</div>
					<div class="cscenter-box__item">
						<a href="#;">제품후기</a>
					</div>
				</div>
				<div class="cscenter-sns">
					<ul>
						<li>
							<a href="#;"><i class="ico ico-instargram-BK">인스타</i></a>
						</li>
						<li>
							<a href="#;"><i class="ico ico-KakaoTalk-BK">카카오</i></a>
						</li>
						<li>
							<a href="#;"><i class="ico ico-facebook-BK">페이스북</i></a>
						</li>
						<li>
							<a href="#;"><i class="ico ico-youtube-BK">유튜브</i></a>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</section>
</nav>
<!-- 좌측 슬라이드 메뉴 E -->

<!-- 배럴인사이드 메뉴 S -->
<section id="inside" class="br__inside">
	<div class="br__inside-inner">
		<div class="br__inside-haed">
			<button type="button" class="btn-close" onclick="DownLayerJS('inside');">닫기</button>
		</div>
		<div class="br__inside-body">
			<div class="title-md">기획전</div>
			<ul class="br__inside-list">
				<li>
					<a href="#;">전체</a>
				</li>
				<li>
					<a href="#;">컬렉션</a>
				</li>
				<li>
					<a href="#;">배럴 저널</a>
				</li>
				<li>
					<a href="#;">캠패인</a>
				</li>
				<li>
					<a href="#;">브랜드 스토리</a>
				</li>
			</ul>
			<ul class="br__inside-list">
				<li>
					<a href="#;"><div class="title-md">스타일 큐레이션</div></a>
				</li>
				<li>
					<a href="#;"><div class="title-md">팀 배럴</div></a>
				</li>
				<li>
					<a href="#;"><div class="title-md">베스트 리뷰</div></a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- 배럴인사이드 메뉴 E -->
