<section class="fb__left-goodsList">
	<div class="goodsNav">
		<div class="goodsNav__header">
			<span class="goodsNav__inner">
				<h2 class="goodsNav__title">{topCateName}</h2>
			</span>
		</div>
		<ul class="goodsNav__wrap">
			{@ cateArr.subCate}
			<li class="goodsNav__list">
				<div class="goodsNav__subHeader">
					<a href="/shop/subGoodsList/{.cid}" class="goodsNav__subHeader--link">
						<h3 class="goodsNav__subList {? .cid == cid} goodsNav__subList--active {/}">{.cname}</h3>
					</a>
				</div>
				{? .subCate}
				<ul class="goodsNav__cont goodsNav__cont--active">
					{@ .subCate}
					<li class="goodsNav__subList-inner">
						<a href="/shop/subGoodsList/{..cid}" class="goodsNav__subList-link {? ..cid == cid} goodsNav__subList-link--active {/}">{..cname}</a>
					</li>
					{/}
				</ul>
				{/}
			</li>
			{/}
		</ul>
	</div>
	<div class="goodsNav__filter">
		<div class="filter__header">
			<h2 class="filter__header-title">필터</h2>
		</div>
		<div class="filter__content">
			<ul>
				{@ filter}
				<li class="filter__list">
					<dl>
						<dt class="filter__title">{=trans('{.filter_type_text}')}</dt>
						<dd class="filter__cont-box {? .filter_type == 'COLOR'} filter__color-box {/}">
							<ul>
								{@ .item}
								<li class="filter__inner {? .filter_type == 'COLOR'}filter__inner--color{/}">
									{? .filter_type == 'COLOR'}
									<label class="filter__checkbox filter__checkbox-color">
										<input type="checkbox" class="devFilterItem" name="{.filter_type}" value="{..filter_idx}" />
										<figure class="thumb">
											<img src="{..filter_img_pc}" alt="{=trans(..filter_name)}" title="{=trans(..filter_name)}" />
										</figure>
									</label>
									{:}
									<label class="filter__checkbox2 filter__checkbox-size">
										<input type="checkbox" class="devFilterItem" name="{.filter_type}" value="{..filter_idx}" />
										<span>{..filter_name}</span>
									</label>
									{/}
								</li>
								{/}
							</ul>
						</dd>
					</dl>
				</li>
				{/}
				<!--
				<li class="filter__list">
					<dl>
						<dt class="filter__title">AAA</dt>
						<dd class="filter__price">
							<ul>
								<li class="filter__button__inner">
									<label for="filter__checkbox" class="filter__button-price">
										<input type="checkbox" class="devFilterItem" name="" value="" />
										<span>11111</span>
									</label>
								</li>
							</ul>
						</dd>
					</dl>
				</li>
				<li class="filter__list">
					<dl>
						<dt class="filter__title">의류</dt>
						<dd class="filter__cont-box">
							<ul>
								<li class="filter__inner">
									<label class="filter__checkbox filter__checkbox-size">
										<input type="checkbox" class="devFilterItem" name="" value="" />
										<span>2XS</span>
									</label>
								</li>
				-->
				<li class="filter__list">
					<dl>
						<dt class="filter__title">{=trans('가격')}</dt>
						<dd class="filter__price">
							<ul>
								<li class="filter__button__inner">
									<label for="search_price_1" class="filter__button-price">
										{? langType =='korean'}
										<input type="radio" name="search_price" id="search_price_1" class="devFilterItemPrice" value="1" data-sprice="0" data-eprice="10000" />
										{:}
										<input type="radio" name="search_price" id="search_price_1" class="devFilterItemPrice" value="1" data-sprice="0" data-eprice="10" />
										{/}
										<span class="font-rb"> {=trans('1만원 미만')} </span>
									</label>
								</li>
								<li class="filter__button__inner">
									<label for="search_price_2" class="filter__button-price">
										{? langType =='korean'}
										<input type="radio" name="search_price" id="search_price_2" class="devFilterItemPrice" value="2" data-sprice="10000" data-eprice="30000" />
										{:}
										<input type="radio" name="search_price" id="search_price_2" class="devFilterItemPrice" value="2" data-sprice="10" data-eprice="30" />
										{/}
										<span class="font-rb"> {=trans('1만원 ~ 3만원 미만')} </span>
									</label>
								</li>
								<li class="filter__button__inner">
									<label for="search_price_3" class="filter__button-price">
										{? langType =='korean'}
										<input type="radio" name="search_price" id="search_price_3" class="devFilterItemPrice" value="3" data-sprice="30000" data-eprice="50000" />
										{:}
										<input type="radio" name="search_price" id="search_price_3" class="devFilterItemPrice" value="3" data-sprice="30" data-eprice="50" />
										{/}
										<span class="font-rb"> {=trans('3만원 ~ 5만원 미만')} </span>
									</label>
								</li>
								<li class="filter__button__inner">
									<label for="search_price_4" class="filter__button-price">
										{? langType =='korean'}
										<input type="radio" name="search_price" id="search_price_4" class="devFilterItemPrice" value="4" data-sprice="50000" data-eprice="100000" />
										{:}
										<input type="radio" name="search_price" id="search_price_4" class="devFilterItemPrice" value="4" data-sprice="50" data-eprice="100" />
										{/}
										<span class="font-rb"> {=trans('5만원 ~ 10만원 미만')} </span>
									</label>
								</li>
								<li class="filter__button__inner">
									<label for="search_price_5" class="filter__button-price">
										{? langType =='korean'}
										<input type="radio" name="search_price" id="search_price_5" class="devFilterItemPrice" value="5" data-sprice="100000" data-eprice="150000" />
										{:}
										<input type="radio" name="search_price" id="search_price_5" class="devFilterItemPrice" value="5" data-sprice="100" data-eprice="150" />
										{/}
										<span class="font-rb"> {=trans('10만원 ~ 15만원 미만')} </span>
									</label>
								</li>
								<li class="filter__button__inner">
									<label for="search_price_6" class="filter__button-price">
										{? langType =='korean'}
										<input type="radio" name="search_price" id="search_price_6" class="devFilterItemPrice" value="6" data-sprice="150000" data-eprice="200000" />
										{:}
										<input type="radio" name="search_price" id="search_price_6" class="devFilterItemPrice" value="6" data-sprice="150" data-eprice="200" />
										{/}
										<span class="font-rb"> {=trans('15만원 ~ 20만원 미만')} </span>
									</label>
								</li>
								<li class="filter__button__inner">
									<label for="search_price_7" class="filter__button-price">
										{? langType =='korean'}
										<input type="radio" name="search_price" id="search_price_7" class="devFilterItemPrice" value="7" data-sprice="200000" data-eprice="250000" />
										{:}
										<input type="radio" name="search_price" id="search_price_7" class="devFilterItemPrice" value="7" data-sprice="200" data-eprice="250" />
										{/}
										<span class="font-rb"> {=trans('20만원 ~ 25만원 미만')} </span>
									</label>
								</li>
								<li class="filter__button__inner">
									<label for="search_price_8" class="filter__button-price">
										{? langType =='korean'}
										<input type="radio" name="search_price" id="search_price_8" class="devFilterItemPrice" value="8" data-sprice="250000" data-eprice="9999999999" />
										{:}
										<input type="radio" name="search_price" id="search_price_8" class="devFilterItemPrice" value="8" data-sprice="250" data-eprice="999999" />
										{/}
										<span class="font-rb"> {=trans('25만원 이상')} </span>
									</label>
								</li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
</section>
